<a class="sc" data-shortcut="{{unbound view.content.shortcut}}" data-tip="{{unbound view.content.tooltip}}">
    {{#if view.content.largeIconUri}}
        <img class="icon" src="{{unbound view.content.largeIconUri}}" />
    {{/if}}
    {{unbound view.content.name}}
</a>